<footer class="<%= devise_page? ? 'd-none' : '' %> mt-auto">
  <section class="d-flex justify-content-center align-items-center py-3">
    <div id="copyright">
      <p><%= Time.now.year %> ShareSpace. All rights reserved</p>
    </div>
  </section>
</footer>
