body {
  font-size: 1.6rem;
  color: #fff;
  background-color: #0E1012;



  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: #fff;
  }
}
