#background {
  background-image: asset-url("bg_black_test.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}

.deviseCard {
  border-radius: 2rem;
  transition: .5s;
  background-color: rgba(255, 255, 255, 0.8);
  &:hover {
    border: 1px solid #563D7C;
  }

  input {
    padding: .5rem;

    &:focus {
      box-shadow: 0 0 5px rgba(86, 61, 124, 0.7);
    }
  }

  .btn {
    background-color: #563D7C;
    border: .5px solid #563D7C;


    &:hover {
      background-color: transparent;
      border: .5px solid #563D7C;
      color: #563D7C;
    }
  }

  a {
    color: #563D7C;
    text-decoration: none;
    font-weight:400;
  }
}

.editCardDevise {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;

  &:hover {
    border: 1px solid #fff;
  }

  input, textarea {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;

    &:focus {
      color: #fff;
      background-color: transparent;
      border: .5px solid #fff;
    }

    &::placeholder {
      color: rgb(170, 167, 167);
    }
  }

  .form-text {
    color: #fff;
    font-size: 1rem;
  }

  .submitBtnForm {
    color: #fff;
    background-color: #5B6369;
    padding: .5rem 2.5rem;
    border: none;

    &:hover {
      background-color: #50575b;
      color: #fff;
      border: none;
    }
  }

  #backBtn {
    color: #fff;
    font-size: 2rem;
    top: 5px;
    left: 10px;
  }
}

.deleteAccount {

  border: .5px solid #fff;
  width: fit-content;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 3rem;

  p {
    font-size: 1.2rem;
  }

  .btnCancel {
    border: .5px solid red;
    color: red;
    background-color: transparent;
    padding: .5rem 1rem;

    &:hover {
      background-color: red;
      color: #fff;
    }
  }
}
