header {
  border-bottom: .1px solid #8c7f7f;
  background-color: rgba(14, 16, 18, 0.6);
  backdrop-filter: blur(8px);

  position:fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  .logo {
    width: 30px;
  }

  nav {

    .bi.bi-plus-square {
      font-size: 3rem;
      transition: .5s;

      &:hover {
        color: #929095;
      }
    }
  }


  @media (min-width: 768px) {

    nav {

      .logo {
        width: 40px;
      }

      .bi {
        font-size: 2rem;
      }
    }
  }
}

.searchNavMobile {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 2px solid #563D7C;
  background-color: #0E1012;
  border-radius: 3rem;
  width: 80%;
  z-index: 1000;

  .bi {
    font-size: 2rem;
    color: #fff;
  }

  .bi-patch-plus-fill, .bi-patch-plus {
    font-size: 2.5rem;
  }
}
