#userDetailsPostShow, .postDetails {
  .roundedCircleContainer {
    width: 50px;
    height: 50px;
    border: none;
  }

  .card {
    color: #fff;
    background-color: transparent;
    // height: 550px;
    height: fit-content;
    border: none;

    @media (min-width: 768px) {
      width: 80%;
      margin: 0 auto;
      // height: 700px;
      height: fit-content;
    }
  }

  .cardIndex {

    .card-header, .card-footer {
      border: none;
    }

    .card-body {
      border-radius: 1rem;
    }

    @media (min-width: 768px) {
      width: 80%;

      .card-body {
        height: 500px;
      }
    }
  }

  hr {
    width: 90%;
    margin: 0 auto;
  }


  .card-header, .card-body, .card-footer {
    padding-left: 0;
    padding-right: 0;
    border: none;
    background: transparent;
  }

  .card-header {
    border-bottom: .5px solid #aca1a1;
    height: 15%;
  }

  .card-footer {
    border-top: .5px solid #aca1a1;
    overflow: hidden;
    height: 15%;
    letter-spacing: normal;
    font-size: 1.4rem
  }

  .card-body {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    height: 360px;
    // height: 70%;

    @media (min-width: 768px) {
      height: 600px;
    }
  }

  .card-body {
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .bi {
    font-size: 2.5rem;
    color: #563D7C;
  }

  #buttonsUserPostShow {
    .bi {
      font-size: 1.5rem;
    }

    .bi-trash3 {
      color: red;
    }

    .bi-pencil {
      color: #fff;
    }

    a {
      border: .5px solid #fff;
    }

    button {
      border: .5px solid red;
    }
  }

  .bi-heart, .bi-chat-square-dots, .bi-dot {
    color: #fff;
  }

  .modal-content {
    background-color: black;
    height: 500px;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 10px rgba(255,255,255,0.14);

    @media (max-width: 340px) {
      height: 300px;
    }

    .roundedCircleContainer {
      width: 30px;
      height: 30px;
    }

    .userPseudo {
      font-size: 1.4rem;
    }

    .commentContent {
      font-size: 1.2rem;
      letter-spacing: normal;
    }

    .btn-close {
      background-color: none;
      filter: invert(1);
      font-size: 1rem;
    }

    hr {
      width: 100%;
    }

    input, textarea {
      background-color: transparent;
    }

    textarea {
      border-radius: 0;
      border: none;
      border-bottom: .5px solid #fff;
      color: #fff;

      &::placeholder {
        color: #aca1a1;
      }
    }

    .modal-footer {
      border-top: .5px solid #aca1a1;

      .btn {
        color: #fff;
        font-weight: bold;
      }
    }

    .modal-header {
      border-bottom: .5px solid #aca1a1;
    }
  }
}
