#elementsFoundSearch {

  .roundedCircleContainer {
    width: 80px;
    height: 80px;
    border: 5px solid #563D7C;
  }

  @media (min-width: 768px) {
    .roundedCircleContainer {
      width: 120px;
      height: 120px;
    }
  }

  .containerUserFound {
    overflow-x: auto;
    width: 100%;
  }

  .userFoundDetails {
    font-size: 1.2rem;
  }

  .countFound {
    border: .5px solid #fff;
    padding: .5rem 1.5rem;
    width: fit-content;
    border-radius: 1rem;
  }
}
