@media (min-width: 992px) {

  .containerBis {
    max-width: 720px;
  }
}

@media (min-width: 1200px) {

  .containerBorder {
    // min-height: 100%;
    min-height: 100vh;
    border-left: .1px solid #8c7f7f ;
    border-right: .1px solid #8c7f7f;
  }
}
