#formSearch {
  input {
    color: #fff;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid #fff;
    padding: 1.5rem 5rem 1.5rem 2rem;
    font-size: 1.4rem;

    &::placeholder {
      color: rgb(170, 167, 167);
      font-size: 1.4rem;
    }

    &:focus {
      border: 2px solid #fff;
    }
  }

  #iconSearch {
    right: 10px;
    color: rgb(170, 167, 167);
    border: .5px solid rgb(170, 167, 167) ;
    border-radius: .5rem;
    font-size: 1.4rem;
  }
}
